.ganttVerticalContainer {
  overflow: auto;
  font-size: 0;
  margin: 0;
  padding: 0;
}

.horizontalContainer {
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  min-width: 800px;
}

.wrapper {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  outline: none;
  position: relative;
}

.wrapperTask {
  width: 70%;
}

.splitBar {
  width: 4px;
  cursor: col-resize;
  background: #dee2e6;
  border-left: none;
  border-right: none;
  align-items: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  -ms-flex-pack: center;
  justify-content: center;
  min-width: 1px;
  z-index: 15;
}

.resizable {
  width: 30%;
}

.resizers {
  border-right: 4px solid #dee2e6;
}

.resizer.right:hover {
  background-color: #4286f4;
}

.resizer.right {
  position: absolute;
  width: 4px;
  height: 100%;
  right: 0;
  bottom: 0;
  cursor: col-resize;
  transform: translate(0px, 5px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.resizer.right::before {
  content: "||";
  background-color: white;
}
